<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="loginRequest.email"
        name="email"
        required
        placeholder="email@name.com"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="loginRequest.password"
        name="password"
        required
        minlength="6"
        placeholder="********"
      />
    </mat-form-field>

    <button mat-raised-button color="primary">Login</button>
  </form>
</div>
